 			<nav class="navbar navbar-default navbar-static-top" role="navigation" id="site-nav">
				<div class="navbar-header"><a class="navbar-brand" href="/">AidGlasses</a></div>				

				<ul class="nav navbar-nav">
					<li><a href="/activities">Activities</a></li>
					<li><a href="/orgs">Organizations</a></li>
					<li><a href="/map">Map</a></li>
				</ul>

				<p class="navbar-form navbar-right">
					<a href="/purge" class="btn btn-danger">Purge database</a>
				<p>
			</nav>