<h1 class="page-header">AidGlasses 0.1</h1>

{{#if error}}
<div class="alert alert-warning"><strong>An error occurred.</strong> {{ error }}</div>
{{/if}}

<div class="row">
	<div class="col-sm-6">
		<h3>Introduction</h3>
		<p>AidGlasses is a tool for displaying contents of IATI documents.</p>
	</div>

	<div class="col-sm-6">
		<h3>Upload a file</h3>

		<form action="/" method="POST" enctype="multipart/form-data">
			<div class="form-group">
				<input type="file" name="source" accept="text/xml" required>
			</div>
			<button class="btn" type="submit">Upload and process</button>
		</form>
	</div>
</div>